<div class="download-section">
    <h2><img class="icon" src="/assets/tango-0.8.90/32x32/actions/document-save-as.png">Downloads</h2>
    <ul>
        <li><a href="downloads/pgp/florian@schuttkowski.com.pubkeys.pub">PGP Public Key(s) für florian [at] schuttkowski [dot] com</a><br />
            C512C5B81E652FFB<br />
            keys.openpgp.org
        </li>
        <li><a href="downloads/pgp/mail@florian-s.org.pubkeys.pub">PGP Public Key(s) für mail [at] florian-s [dot] org</a><br />
            2519717597EE51EB<br />
            keys.openpgp.org
        </li>
    </ul>
</div>