<div class="footer">
    <hr>
    <p>
    Alle Inhalte sind mit <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC SA-BY 4.0</a> lizensiert, der Code selbst liegt auf <a href="https://github.com/flowinho/personal-website">GitHub</a> und ist <a href="https://github.com/flowinho/personal-website/blob/main/LICENSE">GPL 3</a> lizensiert.
    </p>
    <p>
        <a href="/impressum/">Impressum</a>
        <a href="/datenschutz/">Datenschutzerklärung</a>
        <a href="/lizenzen/">Lizenzen und Danksagungen</a>
    </p>
    <p>2023 Florian Schuttkowski</p>
</div>