<div class="logo-container">
    <a href="{{ site.url }}"><span class="ascii-logo">
░█▀▀░█░░░█▀█░█▀▄░▀█▀░█▀█░█▀█░░░░░█▀▀
░█▀▀░█░░░█░█░█▀▄░░█░░█▀█░█░█░▄▄▄░▀▀█
░▀░░░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀░▀░░░░░▀▀▀
    </span></a>
</div>

<div class="header-navigation">
    <button onclick="window.location.href = '/blog/';">
        <img class="button-icon" src="/assets/tango-0.8.90/32x32/apps/accessories-text-editor.png">
        Notizen
    </button>
    <button onclick="window.location.href = '/berufliches/';">
        <img class="button-icon" src="/assets/tango-0.8.90/32x32/categories/applications-office.png">
        Beruf
    </button>
    <button onclick="window.location.href = '/privates/';">
        <img class="button-icon" src="/assets/tango-0.8.90/32x32/actions/go-home.png">
        Privat
    </button>
    <button onclick="window.location.href = '/downloads/';">
        <img class="button-icon" src="/assets/tango-0.8.90/32x32/devices/media-floppy.png">
        Dateien
    </button>
</div>

<hr>